@model Agrisys.Models.DropOption
@{
    Layout = "_Base";
}

<link rel="stylesheet" href="/css/bootstrap.css" />

<style>
    nav {
        position: initial !important;
    }
</style>

<div>
    Dette er vores Mixer
</div>

<section id="menu">
    <div class="container">
        <div class="container-lg">
            <div class="row justify-content-center class align-items-center">
                <div class="col-md-5 text-center text-md-start">
                    <div class="container">
                        <a class="btn btn-primary mt-3" asp-action="Silo">Silo</a>


                        <a class="btn btn-primary btn-lg mt-3 active" asp-action="Mixer">Mixer</a>


                        <a class="btn btn-primary mt-3" asp-action="Fordeler">Fordeler</a>
                        <div class="container">
                            <br>
                            <br>
                            <br>
                            <form asp-action="Mixer" method="post">
                                <a class=" btn btn-lg btn-danger" asp-action="Index">Afbryd!</a>
                                <button type="submit">"Accepter"</button>
                            </form>
                        </div>
                        <br>
                        <div class="container">
                        </div>

                        <div class="container">
                            <div>
                                <button class="btn btn-sm btn-secondary">Foderblanding til</button>
                            </div>
                            <div>
                                <select asp-for="FoderMix">
                                    <option value="">vælg foderblanding</option>
                                    <option value="MF">Smågrise</option>
                                    <option value="U21">Søer</option>
                                    <option value="A38">Faregrise</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                            <div>
                                <button class="btn btn-sm btn-secondary">Tid for omrører</button>
                            </div>
                            <div>
                                <select asp-for="Tid">
                                    <option value="">vælg minuttal</option>
                                    <option value="kort">3 min</option>
                                    <option value="mellem">8 min</option>
                                    <option value="lang">13 min</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                            <div>
                                <button class="btn btn-sm btn-secondary">Hastighed</button>
                            </div>
                            <div>
                                <select asp-for="Hastighed">
                                    <option value="">vælg hastighed</option>
                                    <option value="langsom">1 m/sek</option>
                                    <option value="Middel">5 m/sek</option>
                                    <option value="Hurtig">10 m/sek</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img class="img-fluid" src="/Images/MixerFoderkøkken.jpg">
                </div>

            </div>

        </div>
    </div>
</section>
