@model Agrisys.Models.DropOption
@{
    Layout = "_Base";
}

<link rel="stylesheet" href="/css/bootstrap.css" />

<style>
    nav {
        position: initial !important;
    }
</style>

    <div>
        Dette er vores Silo
    </div>

    <section id="menu">
        <div class="container">
            <div class="container-lg">
                <div class="row justify-content-center class align-items-center">
                    <div class="col-md-5 text-center text-md-start">
                        <div class="container">
                            <a class="btn btn-primary btn-lg mt-3 active" asp-action="Silo">Silo</a>


                            <a class="btn btn-primary mt-3" asp-action="Mixer">Mixer</a>


                            <a class="btn btn-primary mt-3" asp-action="Fordeler">Fordeler</a>
                            <div class="container">
                                <br>
                                <br>
                                <form asp-action="Silo" method="post">
                                <a class=" btn btn-lg btn-danger" asp-action="Index">Afbryd!</a>
                                <button type="submit">"Accepter"</button>
                                </form>
                            </div>
                            <br>
                        
                        <div class="container">
                            <button class="btn btn-sm btn-secondary">Silo Nr</button>
                            <div>
                                <select asp-for="SiloIndhold">
                                    <option value="">vælg foderart</option>
                                    <option value="1">Byg</option>
                                    <option value="2">Havre</option>
                                    <option value="3">Rug</option>
                                    <option value="4">Hvede</option>
                                    <option value="Meds">Antibiotikum</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div class="container">
                            <button class="btn btn-sm btn-secondary">Portion</button>
                            <div>
                                <select asp-for="SiloPortion">
                                    <option value="">vælg portionsstørrelse</option>
                                    <option value="1P">0.5 kg</option>
                                    <option value="2P">1.0 kg</option>
                                    <option value="3P">2.0 kg</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                                                        
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <img class="img-fluid" src="/Images/SiloFoderkøkken.jpg">
                    </div>

                </div>


            </div>
        </div>
    </section>

 